<footer class="site-footer">
  <p>Comments? Feel free to <a href="mailto:{{ me.email }}">write me</a>.</p>

  <p>
    &copy; 2019&ndash;{{ site.date | year }} Denis Washington<br>
    <a href="/legal">Legal & Privacy</a>
  </p>

  <p>
    ♥ This site is powered by: <br>
    <a href="https://11ty.dev/">Eleventy</a>,
    <a href="https://www.hetzner.com/">Hetzner</a>
  </p>
</footer>
