/***********************************************************************
 * Font Faces
 ***********************************************************************/

/* PT Serif */

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pt-serif-v18-latin-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/pt-serif-v18-latin-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/pt-serif-v18-latin-700.woff2') format('woff2');
}

/* Open Sans */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v36-latin-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v36-latin-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inconsolata-v32-latin-regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --color-primary: #bb6311;
  --color-background: #f5f2f0;
  --color-border: #d6cac2;
  --color-text-light: #666;
  --font-body: 'PT Serif', serif;
  --font-heading: 'Open Sans', Arial, sans-serif;
  --font-monospace: Inconsolata, Consolas, Menlo, Moncao, monospace;
}

/***********************************************************************
 * Global Styles
 ***********************************************************************/

html {
  font-size: 1.125rem;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.6;
  max-width: 72ch;
  margin: 0 auto;
  padding: 0 1rem;
}

a, a:visited {
  color: var(--color-primary);
}

code {
  background-color: #f5f2f0;
  border: 1px solid var(--color-border);
  font-family: var(--font-monospace);
  padding: 0.2em;
  border-radius: 0.25em;
}

pre > code {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1em 0 0.67em 0;
}

p {
  margin: 0 0 1.1em 0;
}

pre[class*="language-"] {
  font-family: font(--var-monospace) !important;
  font-size: 0.75em;
  margin: 0 0 1em 0;
}

/***********************************************************************
 * Site Layout
 ***********************************************************************/

.site-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.site-logo {
  display: flex;
  align-items: center;
  font-family: var(--font-heading);
  gap: 0.25rem;
}

.site-logo img {
  width: 2em;
  height: 2em;
  border: 2px solid var(--color-primary);
  border-radius: 9999px;
}

.site-footer {
  margin-top: 4rem;
  padding: 1rem;
  border-top: 1px solid var(--color-border);
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-text-light);
  font-family: var(--font-heading);
}

.site-footer p {
  margin-bottom: 0rem;
}


/***********************************************************************
 * Homepage
 ***********************************************************************/

.home-about {
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 1rem;
}

.home-about-intro {
  margin-bottom: 0.75rem;
}

.home-about-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.home-about li {
  padding-right: 0.5em;
}

.home-about li:not(:first-child) {
  padding-left: 0.5em;
  border-left: 1px solid var(--color-border);
}

.home-posts {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0 0.5rem;
}

.home-posts li {
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.home-posts li a {
  font-family: var(--font-heading);
  text-decoration: none;
  line-height: 1.4rem;
}

.home-post-title {
  /* font-weight: 700; */
  font-size: 1.1rem;
  text-decoration: underline;
}

.home-post-date {
  color: var(--color-text-light);
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
}
